.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take up the full height of the viewport */
}

.translucent-rectangle {
  background-color: black; /* Adjust the RGBA values for the desired transparency */
  border-radius: 10px; /* Adjust the border radius for curved edges */
  padding: 20px; /* Adjust padding as needed */
  height: 300px; /* Adjust height as needed */
  width: 500px; /* Adjust width as needed */
  opacity: 0.5;
}
.button {
  height: 100;
  width: 100;
  padding: top 100px, bottom 10px, left 10px, right 10px;
}
