<div th:fragments="nav">

    <style>
        .navbar {
            border-radius: 20px; /* Adjust the value as needed */
        }
        .pad-left1{
            padding-left: 20px;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border border-4 border-info">
        <a class="navbar-brand" href="/"><span class="text-info pad-left1">Finance</span><span
                class="black"> App</span></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>
</div>